body {
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  user-select: none;
}

.hide {
  display: none;
}
.faded {
  visibility: hidden;
}

#gameContainer {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: auto;
  background-color: plum;
}

#homer {
  overflow:hidden;
  position:absolute;
  width:auto;
}
#bart {
  overflow:hidden;
  position:absolute;
  width:auto;
}

/* start text */
.flexing {
  display: flex;
}

#startText {
  color: white;
  width: 100vw;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#title {
  font-size: 4.5vw;
  text-shadow: 2px 2px plum;
}

#start {
  font-size: 3vw;
  text-align: center;
}